


h2{
  color:white;
  font-size: 50px;
  

}

label1{
  color: white;
  font-size: 40px;
  font-weight: 650;
}

select{
 font-size: 30px;
 font-family: Poppins, sans-serif;
 font-weight: bold;
 

}


