

*{
  box-sizing:border-box;
  font-family: Poppins, sans-serif;
}

body{
  margin:0;
}

.nav{
  display:flex;
  justify-content: space-between;
  align-items:center;
  gap:2rem;
  padding: 0 2rem;
  
}



.site-title{
  
  color: whitesmoke;
  font-size: 150px;
  font-weight:bolder;
  margin: 0px;
 

  font-family: Poppins, sans-serif;

  
  
  
}




.nav li{
 

  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 5px 15px;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  
  
  font-weight: bold;
  
  cursor: pointer;
  

}






.nav a{
  color:white;
  text-decoration: none;
  transition: transform .2;
  
 
}




.nav a:hover{
  transform: scale(1.05);
  color: aqua;
  animation: bounce 1s;
  
}





 @keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
} 