label{
  color:white;
  font-size: 30px;
  
}

.label-input{
  padding: 10px;

}



.form-container{
  text-align: left;
  font-size: 70px;
  color:white;
  margin: 20px;
  font-weight: 700;
  
}





input{
  align-items:center;
  font-size: 25px;
  transition: transform .2s;
  margin: 0 auto;
  padding: 2;

}


input:hover{
  transform: scale(1.1);
}

button{
  font-size: 30px;
  font-weight: bold;
  color:white;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  padding: 7px;
  margin: 30px;
  transition: transform .5s;
  background-color: #14da2b;
  
}

button:hover{
  transform:scale(1.1)
}